# Data Science Tools and Ecosystem

## Author: 
Markus H.

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- popular languages
- popular libraries for Python
- popular tools
- simple arithmic equations

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL
4. Skala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Dataframe
3. NumPy
4. Matplotlib
5. Seabron

|Data Science Tools:|
------------------------------
|Jupyter Notebooks|
|RStudio|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
#This will convert 200 minutes to hours by diving by 60
200//60
#alternative:
print(200//60 , " hours and " , 200%60 , " minutes ")

3  hours and  20  minutes